/* Make sure the width is consistent for each, and wrap them if necessary */
.profile-cards {
  display: flex;
  flex-wrap: wrap;
}

/* Give some room around our paging button */
.paging-button {
  margin: 20px;
  width: 100px;
}
